<br>
<div class="card">
    <div class="card-header">
        <h4 class="font-weight-bold">Cadastro pessoa</h4>
    </div>
    <div class="card-body">
        <form action="" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="firstname" class="col-form-label">Nome: </label>
                        <input type="text" class="form-control" name="nome"  placeholder="Informe o nome" id="nome">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="status" class="col-form-label">Status: </label>
                        <select class="form-select" aria-label="Default select example" name="status" id="status">
                            <option value="">Selecione</option>
                            <option value="1">Ativo</option>
                            <option value="0">Inativo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="">
                <br>
                <!-- <button type="submit" class="btn btn-primary">Salvar</button> -->
                <a href="/getAllTransactions" class="btn btn-light">Voltar</a>
            </div>
        </form>
    </div>
</div>