<br>
<div class="row">
    <div class="col-auto float-left">
        <h1>Mutuários</h1>
    </div>
    <hr>
</div>
<div class="row">
    <div class="col-auto float-left">
        <a href="/cadastroMutuario" class="btn btn-outline-dark float-right"><i class="bi bi-plus-square"></i> Novo mutuário</a>
    </div>
    <div class="col-auto float-right ms-auto">
        <a href="/" class="btn btn-success float-right">Voltar</a>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Status</th>
                    <th scope="col">Crédito</th>
                </tr>
            </thead>
            <tbody>
                <% if(mutuarios.length > 0) { %>
                    <% for(let mutuario of mutuarios) { %>
                        <tr>
                            <th scope="row">
                                <%= mutuario.id %>
                            </th>
                            <td>
                                <%= mutuario.nome %>
                            </td>
                            <td>
                                <%= mutuario.status %>
                            </td>
                        </tr>
                        <% } %>
                    <% } else { %>
                        <tr>
                            <td>Nenhum mutuário foi encontrado</td>
                            <td></td>
                            <td></td>
                        </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</div>